<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yashladha.android_seller">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="HatSphere Seller Hub"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Log In"
            android:parentActivityName=".SplashActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SplashActivity" />
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="Register">
            android:parentActivityName=".SplashActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SplashActivity" />
        </activity>
        <activity
            android:name=".HomePageActivity"
            android:label="Home"
            android:parentActivityName=".LoginActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".DisplayActivity"
            android:label=" Products"
            android:parentActivityName=".HomePageActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePageActivity" />
        </activity>
        <activity
            android:name=".OrdersActivity"
            android:label="Orders"
            android:parentActivityName=".HomePageActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePageActivity" />
        </activity>
        <activity
            android:name=".SalesActivity"
            android:label="Sales"
            android:parentActivityName=".HomePageActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePageActivity" />
        </activity>
        <activity android:name=".RegisterActivity_2" />
        <activity
            android:name=".PlanChoicesActivity"
            android:label="Choose A Plan" />
        <activity android:name=".TrialActivity" />
        <activity
            android:name=".PlanPaymentActivity"
            android:label="Payment" />
        <activity
            android:name=".PlanChosenActivity"
            android:label="HatSphere" />
        <activity
            android:name=".navigation.MyAccountActivity"
            android:label="My Account" />
        <activity
            android:name=".navigation.HelpActivity"
            android:label="Help" />
        <activity
            android:name=".navigation.FAQsActivity"
            android:label="FAQs" />
        <activity
            android:name=".navigation.AboutUsActivity"
            android:label="About Us" />
        <activity
            android:name=".AddProductsActivity"
            android:label="Add A Product" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".navigation.MyAccountEditActivity"></activity>
    </application>

</manifest>